[submodule "Front-PF-VetsForPets"]
	path = Front-PF-VetsForPets
	url = https://github.com/vetsforpets/Front-PF-VetsForPets.git
[submodule "Back-PF-VetsForPets"]
	path = Back-PF-VetsForPets
	url = https://github.com/vetsforpets/Back-PF-VetsForPets.git
